package <%=nameSpace%>.dto;

import com.ehsure.eaf.core.dto.BaseDTO;
import java.math.BigDecimal;
import java.util.Date;
import java.io.Serializable;

/**
 * Spawn by Shub-Niggurath.js on <% print(new Date().toLocaleDateString()) %>
 */
<% var ignoreList=["addby","addtime","editby","edittime","remark"];
columns.forEach(function (prop) { 
    if(_.contains(ignoreList,prop.name.toLowerCase())){
       columns=_.reject(columns,function(x){ return x==prop});
    }  
    prop.lowerCaseName=prop.name[0].toLowerCase()+prop.name.slice(1);
}) %>
public class <%= entityName %>DTO extends BaseDTO implements Serializable{
    <% columns.forEach(function (prop) {%>
        private <%= prop.javaType %> <%= prop.lowerCaseName %>;
    <% }) %>
    <% columns.forEach(function (prop) { %>
        /**
         * <%= prop.desc %>
         */
        public <%= prop.javaType %> get<%= prop.name %>(){
              return <%= prop.lowerCaseName %>;
        }
        public void set<%= prop.name %>(<%= prop.javaType %> <%= prop.lowerCaseName %>){
              this.<%= prop.lowerCaseName %> = <%= prop.lowerCaseName %>;
        }
    <% }) %>
}
