package <%=nameSpace%>.entity;

import com.ehsure.eaf.core.entity.BaseUuidAuditableEnity;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Table;
import java.math.BigDecimal;
import java.util.Date;

/**
 * Spawn by Shub-Niggurath.js on <% print(new Date().toLocaleDateString()) %>
 */
<% columns.forEach(function (prop) { prop.lowerCaseName=prop.name[0].toLowerCase()+prop.name.slice(1)}) %>
@Entity
@Table(name="<% print(_.last(nameSpace.split('.')).toLowerCase())%><%=entityName %>")
public class <%= entityName %> extends BaseUuidAuditableEnity{
    <% columns.forEach(function (prop) {
    var lengthTemp=""; if(prop.length!=null){lengthTemp=",length = "+prop.length} 
    var precisionTemp=""; if(prop.precision!=null){precisionTemp=",precision = "+prop.precision}
    var scaleTemp=""; if(prop.scale!=null){scaleTemp=",scale = "+prop.scale} %>
        @Column(nullable = <%=prop.nullable%><%=lengthTemp%><%=precisionTemp%><%=scaleTemp%>)
        private <%= prop.javaType %> <%= prop.lowerCaseName %>;
    <% }) %>
    <% if(references.length){ 
       for (var i=0;i<references.length ;i++ ) {
           var refEntityName=references[0].refEntity.entityName;
          print('@OneToMany(cascade = CascadeType.ALL,mappedBy = "'+entityName.toLowerCase()+'")');
          print('private List<'+refEntityName+'> '+refEntityName.toLowerCase()+'List=new ArrayList<>();');         
       }
    } %>

    <% columns.forEach(function (prop) { %>
        /**
         * <%= prop.desc %>
         */
        public <%= prop.javaType %> get<%= prop.name %>(){
              return <%= prop.lowerCaseName %>;
        }
        public void set<%= prop.name %>(<%= prop.javaType %> <%= prop.lowerCaseName %>){
              this.<%= prop.lowerCaseName %> = <%= prop.lowerCaseName %>;
        }
    <% }) %>
    <% if(references.length){ 
       for (var i=0;i<references.length ;i++ ) {
           var refEntityName=references[0].refEntity.entityName;
          print('public List<'+refEntityName+'> get'+refEntityName+'List() { return '+refEntityName.toLowerCase()+'List; }');
          print('public void set'+refEntityName+'List(List<'+refEntityName+'> '+refEntityName.toLowerCase()+'List) {this.'+refEntityName.toLowerCase()+'List = '+refEntityName.toLowerCase()+'List;}');         
       }
    } %>    
}
