using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Ehsure.ADRP.DTO;
using Ehsure.ADRP.Entities;
using Ehsure.Core.Services;

namespace Ehsure.ADRP.Core.Services
{
    public interface I<%= entityName %>Service : ICrudService<<%= entityName %>>
    {

        List<Dictionary<string, string>> GetPageListDynamicArgs(
            int page,
            int rows,
            out int total,
            Dictionary<string, QueryItem> handledArgs,
            Dictionary<string, RankItem> rankDic);
            
    }
}
