<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="tag" tagdir="/WEB-INF/tags" %>
<html>
<head>
    <title></title>
    <tag:header/>
</head>
<body id="main_layout">
<div class="winContainer">
    <form id="formMain" action=<$print('"${pageContext.request.contextPath}/api/'+_.last(nameSpace.split('.')).toLowerCase()+'/'+ entityName.toLowerCase() +'/add"')$> method="post" >
        <div class="btnBar">
            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-save">保存</a>
        </div>
        <table class="table1">
      <$ 
        var propertyCount = columns.length;
        var rowCount = parseInt(propertyCount / 2) + 1;
        for (var row = 0; row < rowCount; row ++ ) { 
          print('<tr>');
          for (var col = 0; col < 2; col ++) {
            var index = (row) * 2 + col;
            
            if(columns[index]) {
              print('<th>');
              print(columns[index].desc + '：');
              if (!columns[index].nullable) { print('<span class="needStar">*</span>') }
              print('</th>');
              print('<td>');
              columns[index].lowerCaseName = columns[index].name[0].toLowerCase() + columns[index].name.slice(1);
              print('<input name="' + columns[index].lowerCaseName + '" class="easyui-validatebox" data-options="required:' + (columns[index].nullable == 'true' ? 'false' : 'true') + '" type="text" />');
              print('</td>');
            }
          } 
          print('</tr>')
        }
      $>
        </table>
        <div style="background-color: #e9f1ff;padding: 5px;font-weight: bold;">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-add"
               onclick="simpleSubItemGrid.addItem()">添加</a></div>
        <table class="grid1">
            <thead>
            <tr>
            <$
              var refEntity=references[0].refEntity;
              var refProps=refEntity.columns;
              for(var i=0;i<refProps.length;i++){
                 print( '<th>'+refProps[i].desc+'</th>' ); 
              }
            $>
            <th></th>
            </tr>
            </thead>
            <tbody id="tbdItems"></tbody>
        </table>
    </form>
</div>
</body>
</html>

<script type="text/template" id="itemTemplate">
    <tr id="item_<@=index@>">
    <$
      for(var i=0;i<refProps.length;i++){
        var firstLowerName=refProps[i].name[0].toLowerCase()+refProps[i].name.slice(1);
          print( '<td><input type="text" data-name="'+firstLowerName+'" value="" /></td>' );
      }
    $>
    <td><a href="javascript:void(0)" onclick="simpleSubItemGrid.removeItem('<@=index@>')">删除</a></td>
    </tr>
</script>

<script type="text/javascript">
    var simpleSubItemGrid;
    $(function () {
        /*表单数据加载成功的事件处理函数*/
        function onFormLoadSuccess(data) {
        }

        var initialFormData = {};//表单初始数据
        //构造simpleGrid（子项）
        var itemTmpl = _.template($('#itemTemplate').html());//添加子数据的模板html
        var newItemDataTmpl = {};//添加子数据项时的模板数据，若不需要则设置为{}
        var subItemPropertyName='<$print(refEntity.entityName.toLowerCase()+'List')$>';//主数据中的子项属性名称
        simpleSubItemGrid = new SimpleGrid('tbdItems', itemTmpl, subItemPropertyName, newItemDataTmpl);
        //构造pageform（主数据）
        var easyUIFormParams = {onLoadSuccess: onFormLoadSuccess};
        var masterDataUrl = null;//获取主数据的api地址，添加表单不需要该地址
        var pageForm = new PageForm('formMain', masterDataUrl, easyUIFormParams, simpleSubItemGrid, function (data) {
            simpleSubItemGrid.loadData([]);//主数据请求完后同时得到其子数据，渲染子数据
        }, null, 'edit');
        //初始化
        pageForm.init().loadForm(initialFormData);

        $('#btnSave').on('click', function () {
            pageForm.submitForm()
        });
    });
</script>